<!DOCTYPE html>
<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>

<html>
    <head>
        <meta charset="utf-8">
        <title>Query</title>
        <script language="javascript">
        function myQuery(){
            document.myForm.action="/query/";
            document.myForm.submit();
        }
        function myDelete(){
            document.myForm.action="/delete/";
            document.myForm.submit();
        }
        function myWordCloud(){
            document.myForm.action="/getWordCloud/";
            document.myForm.submit();
        }
        function returnMain(){
            document.myForm.action="/index/";
            document.myForm.submit();
        }
        </script>
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>Reddit评论管理系统</h2>
            </div>
        </div>
    </div>

    <form action="" method="get" name="myForm">
        <div class="container">
            <div class="row">
                <div class="col-xs-pull-3 ">
                    <h4>Reddit id</h4>
                    <input type="text" class="form-control" name="id">
                    <h4>Subreddit</h4>
                    <input type="text" class="form-control" name="subreddit">
                    <h4>Author</h4>
                    <input type="text" class="form-control" name="author">
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="invisible">空行</div>
            <button class="btn btn-primary" type="submit" value="query" onclick="myQuery()">Query</button>
            <a href="/insert_index">
                <button class="btn btn-success" type="button" value="add">Insert</button>
            </a>
            <a href="/update_index">
                <button class="btn btn-warning" type="button" value="update">Update</button>
            </a>
            <button class="btn btn-danger" type="submit" value="delete" onclick="myDelete()">Delete</button>
            <button class="btn btn-default" type="submit" value="WordCloud" onclick="myWordCloud()">WordCloud</button>
            <button class="btn btn-info" type="submit" onclick="returnMain()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
    </form>

    <div class="col-md-10 col-md-offset-1">
        <form action="/query/" method="post">
        <div class="text-center">
            <h3>Results</h3>
        </div>
            <table class="table table-hover">
                <tr>
                    <th scope="row">Reddit_id</th>
                    <th scope="row">Subreddit</th>
                    <th scope="row">text</th>
                    <th scope="row">author</th>
                    <th scope="row">ups</th>
                    <th scope="row">downs</th>
                </tr>
                {% for item in reddit_list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.subreddit }}</td>
                    <td>{{ item.body }}</td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.ups }}</td>
                    <td>{{ item.downs }}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}
        <div class="text-center">
            <p>
                <a href="?id={{ reddit_id }}&subreddit={{ subreddit }}&author={{ author }}&page=1">First Page</a>
                {% if reddit_list.has_previous %}
                    <a href="?id={{ reddit_id }}&subreddit={{ subreddit }}&author={{ author }}&page={{ reddit_list.previous_page_number }}">Previous</a>
                {% endif %}
                    {{ reddit_list.number }} | {{ reddit_list.paginator.num_pages }}
                {% if reddit_list.has_next %}
                    <a href="?id={{ reddit_id }}&subreddit={{ subreddit }}&author={{ author }}&page={{ reddit_list.next_page_number }}">Next</a>
                {% endif %}
                <a href="?id={{ reddit_id }}&subreddit={{ subreddit }}&author={{ author }}&page={{ reddit_list.paginator.num_pages }}">Last Page</a>
            </p>
        </div>
    </div>
    </body>
</html>